services:

  nginx:
    # default port 8443, 80
    image: nginx:1
    container_name: redirect-nginx
    networks:
      - redirect-portal
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - /opt/data/production/logs/nginx/redirect:/var/log/nginx
      - /root/cert/redirect:/etc/ssl/redirect:ro
      - /root/cert/dev:/etc/letsencrypt/dev:ro
      - /root/cert/www:/etc/letsencrypt/www:ro
      - /root/cert/base:/etc/letsencrypt/base:ro
      - /root/cert/whatisfabric:/etc/letsencrypt/whatisfabric:ro
    restart: unless-stopped

networks:
  redirect-portal:
    name: redirect-portal
    driver: bridge